<h1>Favorite emojies:</h1>

<p *ngIf="emojies.length === 0">
  You have no favorite emojies. Click on star button to add some.
</p>
<app-emoji-list
  *ngIf="emojies.length !== 0"
  [emojiList]="emojies"
  [buttonTemplate]="buttons"
></app-emoji-list>

<ng-template #buttons let-emoji="emoji">
  <button
    class="mr-1 btn btn-primary"
    [hidden]="emoji.deleted()"
    (click)="favorite(emoji)"
  >
    <fa-icon icon="star" [ngClass]="{ favorite: emoji.favorite() }"></fa-icon>
  </button>
</ng-template>
