<ul class="list-group mb-2">
  <li class="list-group-item " *ngFor="let emoji of currentList()">
    <img
      class="tooltip1"
      src="{{ emoji.src }}"
      width="25px"
      alt="{{ emoji.name }}"
      (mouseenter)="display($event)"
      (mouseleave)="hide()"
    />
    <img
      class="fade tooltip-item"
      src="{{ emoji.src }}"
      width="100px"
      alt="{{ emoji.name }}"
    />
    <span class="ml-4">{{ emoji.name }}</span>
    <div class="ml-4 float-right">
      <button
        class="mr-1 btn btn-primary"
        [hidden]="emoji.deleted()"
        (click)="_typeChanged(emoji, 'favorite')"
      >
        <fa-icon icon="star" [ngClass]="{ favorite: emoji.favorite() }"></fa-icon>
      </button>
      <button
        class="btn btn-danger"
        [hidden]="emoji.favorite()"
        (click)="_typeChanged(emoji, 'deleted')"
      >
        <fa-icon [icon]="emoji.deleted() ? 'trash-restore' : 'trash'"></fa-icon>
      </button>
    </div>
  </li>
</ul>

<div *ngIf="emojiList.length !== 0" class="row">
  <div class="col-xs-12 col-12">
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="perPage"
      [totalItems]="emojiList.length"
      [rotate]="true"
      [maxSize]="5"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></pagination>
  </div>
</div>
